body {
    background-color: white;
}

section {
    background-color: rgb(2, 26, 99);
    border: 1px solid gray;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Container for aligning image and paragraph in the About section */
.about-container {
    display: flex;
    align-items: flex-start;
}

/* Style the image inside the About section */
.about-container img {
    margin-right: 20px;
    border: 1px solid gray;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

/* Style the paragraph inside the About section */
.about-container p {
    margin: 0;
    flex: 1;
}

/* Style the welcome box */
.welcome-box {
    width: 300px;
    padding: 20px;
    background-color: lightblue;
    border: 1px solid blue;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none
}

   /* @media (max-width: 768px) and (orientation: portrait) {
        section {
            padding: 10px;
            margin: 5px;
            flex-direction: column;
            font-family: Arial, sans-serif;
        }
    }
        
    }
} /